<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>category ID</th>
                <th>Name</th>
         
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${listCategories}">
                <td th:text="${category.id}">category ID</td>
                <td th:text="${category.name}">Name</td>
            
                <td>
                    <a th:href="@{'/edit/' + ${category.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${category.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>