<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div th:fragment="menu">
     <form action="#" method="post" th:hidden="true" name="logoutForm">
       <input type="submit" value="Logout"/>
     </form>
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
           <li class="nav-item">
              <a class="nav-link fas fa-home fa-2x icon-silver" th:href="@{/}"></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">[[#{menu.user}]]</a>
           </li>
            <li class="nav-item">
             <a class="nav-link" th:href="@{/showCategory}">[[#{menu.category}]]</a>
              
           </li>
           <li class="nav-item">
               <a class="nav-link" th:href="@{/brands}">[[#{menu.brand}]]</a>
           </li>
            <li class="nav-item">
               <a class="nav-link" th:href="@{/listProduct}">[[#{menu.product}]]</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">[[#{menu.review}]]</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">[[#{menu.order}]]</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">[[#{menu.report}]]</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" th:href="@{?lang=en}">
               <img  th:src="@{/img/english.jpg}" width="50" />English
              </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" th:href="@{?lang=ar}">
               <img  th:src="@{/img/arabic.png}" width="50" /> Arabic
              </a>
           </li>
        </ul>
     </nav>
     
     
     
     
     
     
  </div>
</body>
</html>