<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="quantity_control(qtyValue,productId)">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link minusButton" href="" th:pid="${productId}"><b>-</b></a>
      </li>
       <li class="page-item">
         <input type="text" th:value="${qtyValue}" />
       </li>
        <li class="page-item">
         <a class="page-link plusButton" href="" th:pid="${productId}"><b>+</b></a>
        </li>
    </ul>
  </nav>
</div>
 <!--     <div th:replace="quantity_control :: quantity_control(${item.quantity}, ${item.product.id)}">
                Quantity
                -->
</body>
</html>