<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div class="container">

  <div> <h2>Your Shopping cart </h2>
  <br/>
  </div>
 
 
 <div class="row m-1">
   <div class="col-sm-8">
     <th:block th:each="item, status : ${cartItems}"> 
       <div class="row border rounded" th:with="product = ${item.product}">
           <div class="col-1">
             <div>[[${status.count}]]</div>
             <div><a class="fas fa-trash icon-dark" th:href="@{/}"></a></div>
           </div>
           <div class="col-3">
             <img alt="" th:src="@{${product.mainImage}}" class="img-fluid"/>
           </div>
           <div class="col-6">
              <div>
                <a th:href="@{product.URI}" th:title="${product.name}" target="_blank">
                  <b>[[${product.name}]]</b>
                </a>
              </div>
              <div>
                <input type="number" th:value="${item.quantity}"  class="form-control"/>
              </div>
              <div>
                <span>X</span>
                <span>[[${product.price}]]</span>
               
              </div>
              <div>
                <span>=</span><span class="h4">[Subtotal]</span>
              </div>
           </div>
       </div>
       <div class="row m-1">&nbsp;</div>
     </th:block>
   </div>
   <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}">
     <div>
        <span class="h3">Estimated Total:</span>
     </div>
     <div class="mt-2">
        <span class="h2">[Total Amount]</span>
     </div>
     <div class="mt-2">
       <button class="btn btn-danger p-3 mt-2">Check Out</button>
     </div>
   </div>
  
 </div>
 <div th:if="${#lists.isEmpty(cartItems)}">
   <h3>u have not choosen</h3>
 </div>
</div>
</body>
</html>